.game #home{
	display: flex;
}
.game #home h1 {
	text-align: center;
	font-size: 78px;
	color: #FFF;
	margin: 0px;
}
.game #home h3 {
	position: absolute;
	margin: auto;
	left: 0px;
	right: 0px;
	bottom: 15px;
	text-align: center;
}
.game #home h3 em {
	font-size: inherit;
	font-style: inherit;
	color: #f9b200;
}
.game #home #start{
	color: #f9b200;
	padding: 30px;
	width: 150px;
	margin: auto;
	background-color: #000;
	border-radius: 0px;
	border:3px solid #FFF;
	z-index: 1000;
}
#canvas-home-title-pacman {
	background-color: #000;
	height: 82px;
	width: 91px;
	margin: auto;
}
#canvas-panel-title-pacman {
	background-color: #000;
	height: 32px;
	width: 38px;
}

#presentation {
position: relative;
	margin: auto;
	padding: 0px;
	width: 500px;
	height: 250px;
	max-width: 100%;
	margin-bottom: 280px;
}
#presentation-titles {
	position: absolute;
	width: 360px;
	height: 28px;
	top: 10px;
	left: 117px;
	letter-spacing: 2px;
	font-size: 20px;
	text-transform: uppercase;
	color: #fff;
}
#canvas-presentation-spo, #canvas-presentation-fpo, #canvas-presentation-ovp,
#canvas-presentation-green,
#canvas-presentation-neos  {
	position: absolute;
	width: 50px;
	height: 50px;
	left: 35px;
}
#canvas-presentation-spo {
	top: 140px;
}
#canvas-presentation-fpo {
	top: 90px;
}
#canvas-presentation-ovp {
	top: 40px;
}
#canvas-presentation-green {
	top: 190px;
}
#canvas-presentation-neos {
	top: 240px;
}
#presentation-character-spo,
#presentation-character-fpo,
#presentation-character-ovp,
#presentation-character-green,
#presentation-character-neos,
#presentation-name-spo,
#presentation-name-fpo,
#presentation-name-ovp,
#presentation-name-green,
#presentation-name-neos {
	position: absolute;
	width: 180px;
	height: 28px;
	left: 120px;
	letter-spacing: 2px;
	font-size: 20px;
	text-transform: uppercase;
}
#presentation-name-spo,
#presentation-name-fpo,
#presentation-name-ovp,
#presentation-name-green,
#presentation-name-neos {
	left: 310px;
	width: 230px;
}
#presentation-character-spo, #presentation-name-spo {
	top: 150px;
	color: #ed1b24;
}
#presentation-character-fpo, #presentation-name-fpo {
	top: 100px;
	color: #005ca7;
}
#presentation-character-ovp, #presentation-name-ovp {
	top: 50px;
	color: #61c2d0;
}
#presentation-character-green, #presentation-name-green {
	top: 200px;
	color: #67af27;
}
#presentation-character-neos, #presentation-name-neos {
	top: 250px;
	color: #eb4188;
}

#trailer {
	margin: auto;
	padding: 0px;
	width: 500px;
	height: 50px;
}
.input-user{
	background-color: black;
	width: 100%;
}
.theme-box{
	width:200px;
	height: 50px;
	border:5px solid #FFF;
	position: absolute;
	color: #FFF;
}
#box-1 {
    left: -220px;
    top: 48px;
		border-color: #ed1b24;
}
#box-2 {
    right: -220px;
    top: 48px;
		border-color: #005ca7
}
#box-3 {
    left: -220px;
    top: 389px;
		border-color:#61c2d0;
}
#box-4 {
    right: -220px;
    top: 389px;
		border-color:#67af27;
}
#box-5 {
	right: 174px;
	top: 583px;
	border-color:#eb4188;
}
@media screen and (min-height:1200px), screen and (min-device-height : 1200px) {

}

@media screen and (max-width:1024px), screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	#logo {
		max-width: 100px
	}
	.logo{
		padding: 15px;
		margin: 0px;
	}
	.game #home {
		max-width:100%;
		margin: 0px;
	}
	.game #home h1 {
		font-size: 35px;
	}
	#presentation-titles {
		font-size: 15px;
		left: 52px;
	}
	#canvas-home-title-pacman {
    height: 40px;
    width: 45px;
	}
	#canvas-panel-title-pacman {
		left: 49px;
		width: 42px;
	}
	#presentation{
		margin: 0px;
	}
	#canvas-presentation-spo, #canvas-presentation-fpo, #canvas-presentation-ovp, #canvas-presentation-green, #canvas-presentation-neos {
    position: absolute;
    width: 35px;
    height: 35px;
    left: 15px;
	}
	#presentation-character-spo, #presentation-character-fpo, #presentation-character-ovp, #presentation-character-green, #presentation-character-neos,
	#presentation-name-spo, #presentation-name-fpo, #presentation-name-ovp, #presentation-name-green, #presentation-name-neos {
		font-size: 15px;
	}
	#presentation-character-spo, #presentation-character-fpo, #presentation-character-ovp, #presentation-character-green, #presentation-character-neos
	{
		left: 60px;
	}
	#presentation-character-ovp, #presentation-name-ovp {
		top: 45px;
		color: #61c2d0;
	}
	#presentation-character-fpo, #presentation-name-fpo {
		top: 100px;
		color: #005ca7;
	}
	#presentation-character-spo, #presentation-name-spo {
		top: 150px;
		color: #ed1b24;
	}
	#presentation-character-green, #presentation-name-green {
		top: 200px;
		color: #67af27;
	}
	#presentation-character-neos, #presentation-name-neos {
		top: 250px;
		color: #eb4188;
	}
	#presentation-name-spo, #presentation-name-fpo, #presentation-name-ovp, #presentation-name-green, #presentation-name-neos {
		left: 159px;
		width: 203px;
	}
	.input-user {
		font-size: 15px;
    max-width: 93%;
	}
	.input-id h2{
		font-size: 15px;
		margin: 0px;
	}
	#trailer {
    padding: 0px;
    width: 90vw;
    height: 50px;
    margin: 10px;
	}
	body {
    width: 100vw;
    overflow-x: hidden;
	}
	.game #home #start {
    color: #f9b200;
    padding: 10px;
    width: 150px;
    margin: 10px auto;
	}
}

@media screen and (max-height:640px), screen and (min-device-height : 480px) and (max-device-height : 640px) and (-webkit-device-pixel-ratio: 3) {

}
@media screen and (max-height:480px), screen and (min-device-height : 320px) and (max-device-height : 480px) {

}
